<%= render :partial => "shared/editor" %>

<h3 class="titles_index">Novo Texto</h3>

<% form_for(@textevent) do |f| %>

	<div class="cor-validacao"><%= f.error_messages %></div>

	<p>
		<%= f.label("Título") %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label("Local") %><br />
		<%= f.text_field :location %>
	</p>
	<p>
		<%= f.label("Cidade") %><br />
		<%= f.text_field :city %>
	</p>
	<p>
		<%= f.label("Descrição") %><br />
		<%= f.text_area :description, :cols => "80" %>
	</p>
	<p>
		<%= f.submit "Criar" %>
	</p>

<% end %>

<%= link_to 'Voltar', admin_index_path %>

