<%- title("Receitas") %>
<%- selected(:recipes) %>

<h3 class="titulos">	» Receitas</h3>
<br />

<div id="descricao-receitas">
	<%= image_tag("menina_small.png", :class=>"img_menina", :align=>"left") %>
	<p class="dez">
		Confira aqui algumas receitas e aproveite para compartilhar a sua receita com os demais usuários do site, basta apenas clicar em "Envie sua receita" assim voce contribui para tornar o site mais interativo!
		<br /><br />
		<%= image_tag("new.png", :class=> "align-arrow") %> 
		<%= link_to 'Envie sua receita', new_recipe_path, :class => "style-link-recipe" %>
		
	</p> <br /> 



</div>

	<% @recipes.each do |r| %>
	
	<div id="receita">
		<%= image_tag("arrow_2.png", :class=> "align-arrow") %>
		<%= link_to r.name, r, :class => "style-link-recipe2" %>
		<small>criado em: <b><%= r.created_at.strftime("%d/%m/%y") %></b>, por: <b><%= r.person_name %></b></small>
		<br />
		
		
		
	</div>
	
	<% end %>