<%- title("Receitas") %>
<%- selected(:recipes) %>
<%- stylesheets("index", "all") %>
<h3 class="titles_index">Receitas</h3>

<br />

<div id="pnlRecipeRight">
	<p>
		<%= image_tag("arrow.png", :class=> "align-arrow") %>
		Confira aqui algumas receitas e aproveite para compartilhar a sua receita com os demais usuarios do site, basta apenas clicar em "Envie sua receita" assim voce contribui para tornar o site mais interativo! <br /> 
			
		<br />

		<%= image_tag("new.png", :class=> "align-arrow") %> 
		<%= link_to 'Envie sua receita', new_recipe_path, :class => "style-link-recipe" %>
	</p>
</div>

	<% @recipes.each do |r| %>
	
		<%= image_tag("arrow_2.png", :class=> "align-arrow") %>
		<%= link_to r.name, r, :class => "style-link-recipe" %>
		<small>(<%= r.created_at.strftime("%d/%m/%y") %>)</small>
		<br />
	
	<% end %>

<br />
<%= image_tag("arrow.png", :class=> "align-arrow") %>
<%= link_to 'Voltar', home_index_path, :class => "style-link-recipe" %>
