<%- title("Envie sua receita")%>
<%- selected(:recipes) %>
<%- stylesheets("index", "all") %>

<h3 class="titles_index">Envie sua receita</h3>
<br />
<div id="new-recipe">
	<% form_for(@recipe) do |f| %>
		<%= f.error_messages %>

		<p>
		  <%= f.label "Seu nome" %><br />
		  <%= f.text_field :person_name, :class => "input-text" %>
		</p><br />
		<p>
		  <%= f.label "Seu e-mail" %><br />
		  <%= f.text_field :email, :class => "input-text" %>
		</p><br />
		<p>
		  <%= f.label "Nome da Receita" %><br />
		  <%= f.text_field :name, :class => "input-text" %>
		</p><br />
		<p>
		  <%= f.label :ingredientes %><br />
		  <%= f.text_area :ingredients, :rows => 5, :style => "overflow: auto;" %><br/>
	 	<small><i>Separe os ingredientes usando vírgulas(,)</i></small>
		</p><br />
		<p>
		  <%= f.label :preparo %><br />
		  <%= f.text_area :preparation, :rows => 5, :style => "overflow: auto;" %>
		</p><br />
		<p>
		  <%= f.label :dica %><br />
		  <%= f.text_area :tip, :rows => 5, :style => "overflow: auto;" %>
		</p>
		<p>
			<%= hidden_field_tag "recipe[passed]", "false" %>
		</p>
		<p>
		  <br />
		  <%= f.submit 'Enviar', :class => "button-login" %>
		</p>
	<% end %>
</div>

<br />
<%= image_tag("arrow.png", :class=> "align-arrow") %>
<%= link_to 'Voltar', recipes_path, :class => "style-link-recipe" %>
