<%- title(@recipe.name) %>


<h3 class="titulos">» Exibindo, <%= @recipe.name %></h3>
<br />


<div id="mostrar-receita">
	<h4><%=h @recipe.name %></h4>

	<div class="enviado">
		<%=h @recipe.person_name %>(<%= @recipe.email %>)
	</div>
	
	<div class="ingredientes">
		<%= @recipe.ingredients %>
	</div>
	
</div>



<table border="1" class="tabela-receitas">
	<tr>
		<th>Receita</th>
		<td><%=h @recipe.name %></td>
	</tr>
	<tr>
		<th>Enviado por</th>
		<td><b><%=h @recipe.person_name %></b>(<%= @recipe.email %>)</td>
	</tr>
	<tr>
		<th>Ingredientes</th>
		<td><%=h @recipe.ingredients %></td>
	</tr>
	<tr>
		<th>Preparo</th>
		<td><%=h @recipe.preparation %></td>
	</tr>
	<tr>
		<th>Dicas</th>
		<td><%=h @recipe.tip %></td>
	</tr>
</table>
<br />
