<%- title(@recipe.name) %>


<h3 class="titulos">» Exibindo, <%= @recipe.name %></h3>
<br />


<div id="mostrar-receita">
	<h4><%=h @recipe.name %></h4>

	<div class="enviado">
		<%=h @recipe.person_name %>(<%= @recipe.email %>)
	</div>
	
	<div class="ingredientes">
		<b>Ingredientes:</b><br />
		<%= @recipe.ingredients %>
	</div>
	
	<div class="preparo">
		<br />
		<b>Preparo:</b><br />
		<%= @recipe.preparation %>
	</div>
	
	<% unless @recipe.tip.blank? %>
	<div class="dicas">
		<br />
		<b>Dicas:</b><br />
		<%= @recipe.tip %>
	</div>
	<% end %>
	

	
</div>

