<%- title("Contato") %>
<%- selected(:contato) %>

<h3 class="titulos">	» Contate Sorvtchê</h3>


<div id="contato">
	<% form_for(@contact) do |f| %>
	
		<%= f.error_messages %>
		
	<p>
	    <%= f.label("Nome: <br/> <small>obrigatório</small>") %>
	    <%= f.text_field :nome, :class => "input-text" %>
	</p>
	<p>
	    <%= f.label("Assunto: <br/> <small>obrigatório</small>") %>
	    <%= f.text_field :assunto, :class => "input-text" %>
	</p>
	<p>
	    <%= f.label("E-mail: <br/> <small>obrigatório</small>") %>
	    <%= f.text_field :email, :class => "input-text" %>
	</p>
	<p>
	 	<%= f.label("Mensagem: <br/> <small>obrigatório</small>")%>
		 <%= f.text_area :mensagem, :class => "textarea-contato", :rows => 10, :maxlenght => "130" ,:style => "overflow: auto;" %>
	</p>
	   <%= f.label("")%> 
		<%= f.submit 'Enviar', :class => "button-login" %>

</div>
	

	
	
	<% end %>
	
