
<p>
  <b>V calorico:</b>
  <%=h @vd_product.v_calorico %>
</p>

<p>
  <b>Carb:</b>
  <%=h @vd_product.carb %>
</p>

<p>
  <b>Proteinas:</b>
  <%=h @vd_product.proteinas %>
</p>

<p>
  <b>Gorduras t:</b>
  <%=h @vd_product.gorduras_t %>
</p>

<p>
  <b>Gorduras s:</b>
  <%=h @vd_product.gorduras_s %>
</p>

<p>
  <b>Gordruras tra:</b>
  <%=h @vd_product.gordruras_tra %>
</p>

<p>
  <b>Fibra:</b>
  <%=h @vd_product.fibra %>
</p>

<p>
  <b>Sodio:</b>
  <%=h @vd_product.sodio %>
</p>


<%= link_to 'Editar', edit_vd_product_path(@vd_product) %> |
<%= link_to 'Voltar', vd_products_path %>