<h3 class="titles_index">Editando Evento</h3>

<% form_for(@picture) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Nome %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label("Trocar de evento") %><br />
    <%= f.collection_select :event_id, Event.all, :id, :title %>
  </p>
  <p>
    <%= f.submit 'Editar' %>
  </p>
<% end %>

<%= link_to 'Voltar', :controller => :admin %>