<h3 class="titles_index">Nova Foto</h3>

<% form_for(@picture) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label("Escolha o evento") %><br />
    <%= f.collection_select :event_id, Event.all, :id, :title %>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', admin_index_path %>