<%- selected(:eventos) %>

<div id="textevent">
	<% @textevent.each do |t| %>
	
	<h3 class="titles_index"><%= t.title %><small> - <%= t.location %>, <%= t.city %></small></h3><small>(<%= t.created_at.strftime("%d/%m/%Y") %>)</small>
		
		<%= t.description %>
	<% end %>
</div>

<br />

<div id="fuck">
	<% @pictures.each do |p| %>
		<div id="show-event-in">
			
			<%= link_to image_tag(p.picture.url(:thumb), :border => 0), p.picture.url(:large), :title => p.name %>
           
			<br />
			<%= p.name %>
		</div>
	<% end %>
</div>

<br />
<%= image_tag("arrow.png", :class=> "align-arrow") %>
<%= link_to 'Voltar', pictures_path, :class => "style-link-recipe" %>