<h3 class="titles_index">Nova Categoria</h3>

<% form_for :category, @category, :url => categories_path, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Título %><br />
    <%= f.text_field :title %>
  </p>
  <p>
  	<%= f.label :Foto %><br />
  	<%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', admin_index_path %>
