
<div id="todos-produtos">
	<% @products.each  do |p| %>
		<div id="produto">

			<div id="tabela">
				<table border="0" class="nutricional">
					<tr>
						<th>Informação Nutricional<br><small>Porção de 100g(10 colheres de sopa)</small></th>
						<th>%VD</th>
					<tr class="odd">
						<td><p>Valor Calórico</p> <span><%= p.v_calorico %></span></td>
						<td align="center"><%= p.vd_product.v_calorico %></td>
					</tr>
					<tr class="even">
						<td><p>Carboidratos </p><span><%= p.carb %></span></td>
						<td align="center"><%= p.vd_product.carb %></td>
					</tr>
					<tr class="odd">
						<td><p>Proteínas </p><span><%= p.proteinas %></span></td>
						<td align="center"><%= p.vd_product.proteinas %> %</td>
					</tr>
					<tr class="even">
						<td><p>Gorduras Totais</p> <span><%= p.gorduras_t %></span></td>
						<td align="center"><%= p.vd_product.gorduras_t %>%</td>
					</tr>
					<tr class="odd">
						<td><p>Gord. Saturadas</p> <span><%= p.gorduras_s %></span></td>
						<td align="center"><%= p.vd_product.gorduras_s %> %</td>
					</tr>
					<tr class="even">
						<td><p>Gord. Trans</p> <span><%= p.gordruras_tra %></span></td>
						<td align="center">**</td>
					</tr>
					<tr class="odd">
						<td><p>Fibra Alimentar</p> <span><%= p.fibra %></span></td>
						<td align="center"><%= p.vd_product.fibra %> %</td>
					</tr>
					<tr class="even">
						<td><p>Sódio </p><span><%= p.sodio %></span></td>
						<td align="center"><%= p.vd_product.sodio %>  %</td>
					</tr>
				</table>
			</div>
			
			
			<div id="foto-produto">
				<%= image_tag (p.produto.url(:thumb), :class => "chupar") %>
				<div class="code-name"><%=h p.code %> - <%=h p.name %></div>
			</div>
			
			<div class="ingredientes"><b>Ingredientes:</b><%= p.ingredients %></div><br />
			<div class="peso"><b>Peso:</b> <%=h p.weight %>Kg</div>
		</div>
	<% end %>
</div>
